body{
    margin: 0;
    padding: 0;
    background-image:url(./hush.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    font-family: sans-serif;
    background-blend-mode: overlay;
    background-color: rgba(51, 51, 51, 0.79);
}
.form-box{
    position: relative;
    margin: 6% auto;
    padding: 5px;
    height: 100%;
    width: 400px;  
    }
    .button-box{
        width: 220px;
        margin: 35px auto;
        position: relative;
        border-radius: 30px;

    }
    .toggle-btn{
        padding:  10px 30px;
        cursor: pointer;
        background: transparent;
        border: 0;
        outline: none;
        position: relative;
        border-radius: 30px;
        background: linear-gradient(to right,#ff105f,#ffad06);

    
    }
    .input-field{
        width: 100%;
        padding: 10px 0;
        margin: 5px 0;
        border-top: 0;
        border-right: 0;
        outline: none;
        background: transparent;
    
    
    }
    .submit-btn{
        width: 85%;
        padding: 10px 30px ;
        cursor: pointer;
        display: block;
        margin: auto;
        background: linear-gradient(to right,#ff105f,#ffad06);
        border: 0;
        outline: none;
        border-radius: 30px;
    }
    .log{
        display: flex;
        background:rgb(12, 12, 12);
        opacity: .8;
        padding: 2px;
        padding-bottom: 10px;
    }
    .log-text{
        color: rgb(216, 209, 209);
        font-family: cursive;
        font-size: 2em;
    }
    img{
        height: 50px;
        width: 50px;
    }
    .for{
        color: rgb(216, 209, 209);
        font-family: sans-serif;
        font-size: 2em;
        text-align: center;
        margin-top: 50px;
    
        
    }
    p{
        color: rgb(216, 209, 209);
        font-family: sans-serif;
        font-size: 16px;
        text-align: center;}


        .cursor {
            width:100px;
            height: 100px;
            background:#252525;
            border-radius: 50%;
            position: absolute;
            -webkit-transition-duration: 200ms;
                    transition-duration: 200ms;
            -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
            -webkit-animation: cursorAnim .5s infinite alternate;
                    animation: cursorAnim .5s infinite alternate;
            mix-blend-mode: difference;
            pointer-events: none;
            z-index: 50;
          }
          
          @-webkit-keyframes cursorAnim {
            from {
              -webkit-transform: scale(1);
                      transform: scale(1);
            }
            to {
              -webkit-transform: scale(0.7);
                      transform: scale(0.7);
            }
          }
          
          @keyframes cursorAnim {
            from {
              -webkit-transform: scale(1);
                      transform: scale(1);
            }
            to {
              -webkit-transform: scale(0.7);
                      transform: scale(0.7);
            }
          }
          
          @-webkit-keyframes cursorAnim2 {
            from {
              -webkit-transform: scale(1);
                      transform: scale(1);
            }
            to {
              -webkit-transform: scale(0.4);
                      transform: scale(0.4);
            }
          }
          
          @keyframes cursorAnim2 {
            from {
              -webkit-transform: scale(1);
                      transform: scale(1);
            }
            to {
              -webkit-transform: scale(0.4);
                      transform: scale(0.4);
            }
          }
          
          @-webkit-keyframes cursorAnim3 {
            0% {
              -webkit-transform: scale(1);
                      transform: scale(1);
            }
            50% {
              -webkit-transform: scale(3);
                      transform: scale(3);
            }
            100% {
              -webkit-transform: scale(1);
                      transform: scale(1);
              opacity: 0;
            }
          }
          
          @keyframes cursorAnim3 {
            0% {
              -webkit-transform: scale(1);
                      transform: scale(1);
            }
            50% {
              -webkit-transform: scale(3);
                      transform: scale(3);
            }
            100% {
              -webkit-transform: scale(1);
                      transform: scale(1);
              opacity: 0;
            }
          }
          
          .expand {
            -webkit-animation: cursorAnim3 .5s forwards;
                    animation: cursorAnim3 .5s forwards;
                    opacity: 1;
          }.cursor {
    width:100px;
    height: 100px;
    background:#252525;
    border-radius: 50%;
    position: absolute;
    -webkit-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-animation: cursorAnim .5s infinite alternate;
            animation: cursorAnim .5s infinite alternate;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 50;
  }
  
  @-webkit-keyframes cursorAnim {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    to {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
    }
  }
  
  @keyframes cursorAnim {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    to {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
    }
  }
  
  @-webkit-keyframes cursorAnim2 {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    to {
      -webkit-transform: scale(0.4);
              transform: scale(0.4);
    }
  }
  
  @keyframes cursorAnim2 {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    to {
      -webkit-transform: scale(0.4);
              transform: scale(0.4);
    }
  }
  
  @-webkit-keyframes cursorAnim3 {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(3);
              transform: scale(3);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0;
    }
  }
  
  @keyframes cursorAnim3 {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(3);
              transform: scale(3);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0;
    }
  }
  
  .expand {
    -webkit-animation: cursorAnim3 .5s forwards;
            animation: cursorAnim3 .5s forwards;
            opacity: 1;
  }